# Log level { DEBUG, INFO, WARNING, ERROR, CRITICAL }
log_level = 'INFO'

# Explorer API url
explorer_url = 'https://witnet.network/api'

# Explorer polling interval (secs). Be nice!
poll_secs_interval = 120
# Max download attempts
poll_try_limit = 3

# Whale message thresholds, in WITs. Amounts in or above this range trigger alerts.
low_threshold = 100000
high_threshold = 1000000

# Publish alerts on Twitter
enable_tweets = False

# Twitter API Key and Secret (also known as Consumer Key and Secret)
# These are required for OAuth 1.0a/PIN-Based OAuth (API v2)
consumer_key= 'TWITTER_API_KEY'
consumer_secret= 'TWITTER_API_SECRET'

# Publish alerts on Telegram
enable_telegram = True
telegram_token = 'TELEGRAM_TOKEN'
telegram_chat_name="Witnet Community"
#telegram_chat_id="TELEGRAM_CHAT_ID"
